<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Lankytinos vietos </title>
      		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
			nav a {
		display: inline-block;
		padding: 12px;
		margin: 12px;
		text-decoration: none;
		color: Black;
		background-color: #CAB85C;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;		
		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);		
		}
		nav a:hover {
			text-decoration: underline;	
			background-color: #E3F392;	
		}
	
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud.js"></script>
	    <script>
		$( document ).ready ( function() {
																										alert ( 'ok, doc ready'  );
																										
					
			
	$.ajax({
					url: "http://localhost:8080/ajax/lst-miestai" 
			}).done(
			
				function( data_miestai ) {
				
					options_miestai = '';
					
					for ( i= 0; i < data_miestai.length; i++ ) {
																				//alert ( 'i, id, pav:' + i + ',' + this.produktai [ i ].id + ', ' + this.produktai [ i ].pav )
	
						options_miestai += '<option value="' + data_miestai [ i ].id + '">' + data_miestai [ i ].pav + '</option>';
	
					}
																			// alert( options );
																			
					select_miestai = 	'<label for="id_prie_miesto">Miestas</label>' +
						'<select type="text" name="id_prie_miesto" id="id_prie_miesto" class="text ui-widget-content ui-corner-all">' +
							options_miestai +
						'</select>';
						
					$( '#id_miesto_place' ).html ( select_miestai );
				}	
			);
																										
																																																
			crudVietos = function(
			
				fields
				, fields_names
				, url
				, field_data
				, id_html_saraso
				, id_html_dialog_formos
				, dialog_size_x
				, dialog_size_y
				, title_dialog_form
				, url_save_rec  
				, url_delete_rec
				, fields_edit
				, field_name
				, fields_ed_types
			
			) {
				params = {
				
					fields: fields
					, fields_names: fields_names
					, url : url
					, field_data: field_data
					, id_html_saraso: id_html_saraso
					, id_html_dialog_formos: id_html_dialog_formos
					, dialog_size_x: dialog_size_x
					, dialog_size_y: dialog_size_y
					, title_dialog_form: title_dialog_form
					, url_save_rec: url_save_rec  
					, url_delete_rec: url_delete_rec
					, fields_edit: fields_edit
					, field_name: field_name
					, fields_ed_types: fields_ed_types
				}
				crud.call ( this, params );	// objektu surišimas pagal https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/prototype                (OS/eilute 1)  ..
			}
				
			crudVietos.prototype = Object.create( crud.prototype ); // new crud;			// (OS/eilute 2)
				
			crudVietos.prototype.constructor = crudVietos;						// (OS/eilute 3)																			
																				
			crud_vietos = new crudVietos ( 

				[
					'pav' 
					, 'platuma'	
					, 'ilguma'	
					, 'id_prie_miesto'
					, 'miestai.pav'
					, 'aprasymas'
				]
				, [  'pavadinimas', 'platuma', 'ilguma', 'miesto<br>id', 'prie<br>miesto', 'aprasymas' ]
				, 'http://localhost:8080/ajax/lst-vietos'
				, ''				
				, 'vietos'
				, 'vietos_dialogo_forma'
				, 400
				, 640
				, 'Vieta'
				,  'http://localhost:8080/ajax/vietos-pakeisti'
				,  'http://localhost:8080/ajax/vietos-salinti'
				, [ 
					'pav' 
					, 'platuma'	
					, 'ilguma'	
					, 'id_prie_miesto'
					, 'aprasymas'
				]
				, 'pav'
				,  [ 'text', 'text', 'text', 'select', 'text' ]
			);
			
			// console.log ( crud_miestai );
			
			crud_vietos.initEmpty();						
			crud_vietos.refreshData();										
		});	
	</script>
	</head>
<body>
<h3> Vietos </h3>

 	Vietų sąrašas
 <nav>
		<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
</nav>	
<div id="vietos">
</div>
<div id="vietos_dialogo_forma" class="ui-dialog-content ui-widget-content">
	<p class="validateTips">Visi laukeliai turi buti užpildyti.</p>
	<p class="name_item" id="name_item"></p>
	<form action="">
		<fieldset>
		
			<div id="id_miesto_place">
				<label for="id_prie_miesto">Miestas</label>
				<select type="text" name="id_prie_miesto" id="id_prie_miesto" class="text ui-widget-content ui-corner-all">
				</select>
			</div>
				
			<label for="pav">pavadinimas</label>
			<input type="text" name="pav" id="pav" value="" class="text ui-widget-content ui-corner-all">
				
			<label for="platuma">platuma</label>
			<input type="text" name="platuma" id="platuma" value="" class="text ui-widget-content ui-corner-all">
			
			<label for="ilguma">ilguma</label>
			<input type="text" name="ilguma" id="ilguma" value="" class="text ui-widget-content ui-corner-all">
						
			<label for="aprasymas">aprasymas</label>
			<input type="text" name="aprasymas" id="aprasymas" value="" class="text ui-widget-content ui-corner-all">
			
			<!-- Allow form submission with keyboard without duplicating the dialog button --><input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
			<input type="hidden" name="id" id="id_rec" value="0">
	</form>
</div>
 </body>
</html>